<header>
  <div class="container">
    <a routerLink="/" class="main-logo-link">
      <img class="main-logo" src="/assets/shared/desktop/logo.svg" alt="logo"/>
    </a>

    <nav id="main-navigation">
      <ul role="list">
        <li><a routerLink="/" >Home</a></li>
        <li><a routerLink="/about" >About us</a></li>
        <li><a routerLink="/plan" >Create your plan</a></li>
      </ul>
    </nav>

    <div id="menu-opener" aria-expanded="false" aria-controls="main-navigation">
      <span class="icon"></span>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container">
    <img class="main-logo" src="/assets/shared/desktop/logo-footer.svg" alt="logo"/>

    <nav class="footer-navigation">
      <ul role="list">
        <li><a routerLink="/" >Home</a></li>
        <li><a routerLink="/about" >About us</a></li>
        <li><a routerLink="/plan" >Create your plan</a></li>
      </ul>
    </nav>

    <ul class="social-links" role="list">
      <li><a href="#"><img src="/assets/shared/desktop/icon-facebook.svg" /></a></li>
      <li><a href="#"><img src="/assets/shared/desktop/icon-twitter.svg" /></a></li>
      <li><a href="#"><img src="/assets/shared/desktop/icon-instagram.svg" /></a></li>
    </ul>
  </div>
</footer>
