.main-header{
  padding-block: 2rem;
}

.main-header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main-navigation{
  display: none;
  position: absolute;
  background:linear-gradient(180deg, rgba(254,252,247,1) 0%,  rgba(254,252,247,1) 35%, rgba(254,252,247,.7) 60%, rgba(254,252,247,.7) 100%);
  width: 100%;
  inset: 0;
  margin-top: 5.5rem;
  padding-top: 2rem;
  text-align: center;
  z-index: 1000;
}

#main-navigation.show{
  display: block;
}

#main-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

#main-navigation a{
  text-decoration: none;
  color: var(--clr-dark-grey-blue);
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  line-height: 1.333;
}

#main-navigation a:hover, #main-navigation a:focus-visible{
  color: var(--clr-dark-grey-blue);
}

#menu-opener{
  display: inline-flex;
  margin-top: .4rem;
}

#menu-opener .icon{
  display: inline-block;
  cursor: pointer;
  background-image: url(/assets/shared/mobile/icon-hamburger.svg);
  width: 1rem;
  height: .935rem;
}

#menu-opener[aria-expanded="true"] .icon{
  background-image: url(/assets/shared/mobile/icon-close.svg);
  width: 0.875rem;
  height: 0.8125rem;
}

.footer{
  margin-bottom: 4.5rem;
}

.footer .container{
  background-color: var(--clr-footer-bg);
  padding-block: 3.375rem;
  text-align: center;
}

.footer .main-logo{
  margin-inline: auto;
  margin-bottom: 2rem;
}

.footer .footer-navigation{
  width: fit-content;
  margin-bottom: 3.5rem;
  margin-inline: auto;
}

.footer .footer-navigation ul{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer .footer-navigation a{
  color: var(--clr-grey);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--ff-title);
  font-size: .75rem;
  letter-spacing: .92px;
  line-height: 1.2;
}

.footer .footer-navigation a:hover,.footer .footer-navigation a:focus-within {
  color: var(--clr-light-cream);
}

.footer .social-links{
  width: fit-content;
  margin-inline: auto;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.footer .social-links li:hover img, .footer .social-links li:focus-within img {
  filter: brightness(0) saturate(100%) invert(90%) sepia(13%) saturate(1043%) hue-rotate(318deg) brightness(101%) contrast(98%);
}

@media(min-width: 48rem){
  .main-header{
    padding-block: 2.5rem;
  }

  #main-navigation{
    display: block;
    position: relative;
    background: transparent;
    width: fit-content;
    inset: 0;
    margin-top: 0;
    padding-top: 0;
    text-align: initial;
  }

  #main-navigation ul {
    flex-direction: row;
  }

  #main-navigation a{
    color: var(--clr-grey);
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1.25;
    letter-spacing: .92px;
  }

  #menu-opener {
    display: none;
  }

  .footer .footer-navigation ul{
    flex-direction: row;
  }
}

@media (min-width: 84rem){
  .footer{
    margin-bottom: 5.5rem;
  }

  .footer .container{
    padding-block: 3rem;
    padding-inline: 5.3rem;
    display: flex;
    align-items: center;
  }

  .footer .main-logo{
    margin: 0;
  }

  .footer .footer-navigation{
    margin: 0 0 0 6.1875rem;
  }

  .footer .social-links{
    margin-left: auto;
    margin-right: 0;
  }
}
