.section-hero .container{
  background-image: url(/assets/home/mobile/image-hero-coffeepress.jpg);
}

@media(min-width: 48em){
  .section-hero .container{
    background-image: url(/assets/home/tablet/image-hero-coffeepress.jpg);
  }
}

@media(min-width: 84em){
  .section-hero .container{
    background-image: url(/assets/home/desktop/image-hero-coffeepress.jpg);
  }
}
