:root{
  --clr-dark-cyan: #0E8784;
  --clr-light-cyan: #66D2CF;
  --clr-dark-grey-blue: #333D4B;
  --clr-pale-orange: #FDD6BA;
  --clr-light-cream: #FEFCF7;
  --clr-grey: #83888F;

  --clr-footer-bg: #2C343E;

  --ff-main: 'Barlow', sans-serif;
  --ff-title: 'Fraunces', serif;

  --fw-regular: 400;
  --fw-bold: 700;
  --fw-black: 900;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html,
body {
    min-height: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* main */
body{
  font-family: var(--ff-main);
  font-size: .9375rem;
  line-height: 1.6666;
  color: var(--clr-dark-grey-blue);
  background-color: var(--clr-light-cream);
}

body.menu-open{
  overflow: hidden;
}

@media(min-width: 48rem){
  body.menu-open{
    overflow: auto;
  }
}

@media(min-width: 84rem){
  body{
    font-size: 1rem;
  }
}

/* section-full */
.section-full .container{
  padding: 5.75rem 2rem;
  margin-bottom: 9.25rem;
  color: var(--clr-light-cream);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: var(--clr-footer-bg);
  border-radius: 10px;
}

@media(min-width: 48em){
  .section-full .container{
    padding: 6rem 3.5rem;
    background-position: top right;
    text-align: left;
  }

  .section-full h1{
    max-width: 12ch;
  }

  .section-full p{
    max-width: 45ch;
  }
}

@media(min-width: 84em){
  .section-full .container{
    padding: 7rem 5rem;
  }
}

/* buttons */
.button{
  display: inline-flex;
  place-content: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  padding: 1rem 2rem;
  font-family: var(--ff-title);
  font-weight: var(--fw-black);
  font-size: 1.125rem;
  line-height: 1.3888;
  color: var(--clr-light-cream);
  background-color: var(--clr-dark-cyan);
  border: none;
  transition: background-color 0.5s ease-in-out;
  outline: none;
}

.button:hover, .button:focus-within{
  background-color: var(--clr-light-cyan);
}

/* utilities */
.container {
  --max-width: 80rem;
  --container-padding: 1.5rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}

:where(.flow > :not(:first-child)) {
  margin-top: var(--flow-spacer, 2.5rem);
}

.title{
  font-family: var(--ff-title);
  font-weight: var(--fw-black);
}

.fs-primary-title{
  font-size: 2.5rem;
  line-height: 1;
}

.fs-secondary-title{
  font-size: 2rem;
  line-height: 1.5;
}

@media(min-width: 48em){
  .fs-primary-title{
    font-size: 3rem;
  }
}

@media(min-width: 84em){
  .fs-primary-title{
    font-size: 4.5rem;
  }

  .fs-secondary-title{
    font-size: 2.5rem;
    line-height: 1.2;
  }
}
