<section class="section section-hero section-full">
  <div class="container flow">
    <h1 class="title fs-primary-title">Create a plan</h1>
    <p>
      Build a subscription plan that best fits your needs. We offer an assortment of the best
      artisan coffees from around the globe delivered fresh to your door.
    </p>
  </div>
</section>

<section class="section section-flow">
  <div class="container">
    <div class="flow-indicator">
      <div class="circle"></div>
      <div class="line"></div>
      <div class="circle"></div>
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <div class="flow-items">
      <div class="flow-item flow">
        <div class="flow-item-number title">01</div>
        <div class="flow-item-name title">Pick your coffee</div>
        <p>
          Select from our evolving range of artisan coffees. Our beans are ethically
          sourced and we pay fair prices for them. There's new coffees in all profiles
          every month for you to try out.
        </p>
      </div>
      <div class="flow-item flow">
        <div class="flow-item-number title">02</div>
        <div class="flow-item-name title">Choose the frequency</div>
        <p>
          Customize your order frequency, quantity, even your roast style and grind type.
          Pause, skip or cancel your subscription with no commitment through our online portal.
        </p>
      </div>
      <div class="flow-item flow">
        <div class="flow-item-number title">03</div>
        <div class="flow-item-name title">Receive and enjoy!</div>
        <p>
          We ship your package within 48 hours, freshly roasted. Sit back and enjoy award-winning world-class coffees curated to provide a distinct tasting experience.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-section-order">
  <div class="container">
    <div class="order-navigation">
      <ol role="list">
        <li class="title active"><span class="green-text">01</span> Preferences</li>
        <li class="title"><span>02</span> Bean type</li>
        <li class="title"><span>03</span> Quantity</li>
        <li class="title"><span>04</span> Grind option</li>
        <li class="title"><span>05</span> Deliveries</li>
      </ol>
    </div>
    <div>
    <div class="order-options">
      <div class="order-option">
        <div class="order-option-title-wrapper">
          <span class="order-option-title fs-secondary-title title">How do you drink your coffee?</span>
          <span class="arrow-up"></span>
        </div>
        <div class="order-option-items">
          <div class="order-option-item">
            <div class="order-option-item-name title">Capsule</div>
            <p>Compatible with Nespresso systems and similar brewers</p>
          </div>
          <div class="order-option-item">
            <div class="order-option-item-name title">Filter</div>
            <p>For pour over or drip methods like Aeropress, Chemex, and V60</p>
          </div>
          <div class="order-option-item">
            <div class="order-option-item-name title">Espresso</div>
            <p>Dense and finely ground beans for an intense, flavorful experience</p>
          </div>
        </div>
      </div>

      <div class="order-option">
        <div class="order-option-title-wrapper">
          <span class="order-option-title fs-secondary-title title">What type of coffee?</span>
          <span class="arrow-up"></span>
        </div>
        <div class="order-option-items">
          <div class="order-option-item">
            <div class="order-option-item-name title">Single origin</div>
            <p>Distinct, high quality coffee from a specific family-owned farm</p>
          </div>
          <div class="order-option-item">
            <div class="order-option-item-name title">Decaf</div>
            <p>Just like regular coffee, except the caffeine has been removed</p>
          </div>
          <div class="order-option-item">
            <div class="order-option-item-name title">Blended</div>
            <p>Combination of two or three dark roasted beans of organic coffees</p>
          </div>
        </div>
      </div>


    <div class="order-option">
      <div class="order-option-title-wrapper">
        <span class="order-option-title fs-secondary-title title">How much would you like?</span>
        <span class="arrow-up"></span>
      </div>
      <div class="order-option-items">
        <div class="order-option-item">
          <div class="order-option-item-name title">250g</div>
          <p>Perfect for the solo drinker. Yields about 12 delicious cups.</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name title">500g</div>
          <p>Perfect option for a couple. Yields about 40 delectable cups.</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name title">1000g</div>
          <p>Perfect for offices and events. Yields about 90 delightful cups.</p>
        </div>
      </div>
    </div>

    <div class="order-option">
      <div class="order-option-title-wrapper">
        <span class="order-option-title fs-secondary-title title">Want us to grind them?</span>
        <span class="arrow-up"></span>
      </div>
      <div class="order-option-items">
        <div class="order-option-item">
          <div class="order-option-item-name title">Wholebean</div>
          <p>Best choice if you cherish the full sensory experience</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name title">Filter</div>
          <p>For drip or pour-over coffee methods such as V60 or Aeropress</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name title">Cafetiére</div>
          <p>Course ground beans specially suited for french press coffee</p>
        </div>
      </div>
    </div>

    <div class="order-option">
      <div class="order-option-title-wrapper">
        <span class="order-option-title fs-secondary-title title">How often should we deliver?</span>
        <span class="arrow-up"></span>
      </div>
      <div class="order-option-items">
        <div class="order-option-item">
          <div class="order-option-item-name title">Every week</div>
          <p>$14.00 per shipment. Includes free first-class shipping.</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name title">Every 2 weeks</div>
          <p>$17.25 per shipment. Includes free priority shipping.</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name title">Every month</div>
          <p>$22.50 per shipment. Includes free priority shipping.</p>
        </div>
      </div>

    </div>
    </div>
    <div class="order-summary-wrapper">
      <div class="order-summary-body">
        <div class="order-summary-title">Order Summary</div>
        <p class="title">
          “I drink coffee <span class="inserted-part">_____</span>, with a <span class="inserted-part">_____</span> type of bean. <span class="inserted-part">_____</span> ground ala <span class="inserted-part">_____</span>, sent to me <span class="inserted-part">_____</span>.”
        </p>
      </div>

      <div class="order-summary-button-wrapper">
        <button class="button" type="button">Create my plan!</button>
      </div>
    </div>
  </div>
  </div>
</section>

<div class="modal order-summary-modal">
  <div class="modal-header">
    <div class="title">Order Summary</div>
  </div>
  <div class="modal-body">
    <p>
      “I drink coffee _____, with a _____ type of bean. _____ ground ala _____,
      sent to me _____.”
    </p>
    <p>
      Is this correct? You can proceed to checkout or go back to plan selection if something
      is off. Subscription discount codes can also be redeemed at the checkout.
    </p>
    <div>
      <span>$_____/month</span>
      <button class="button" type="button">Checkout</button>
    </div>
  </div>
</div>
