<section class="section section-hero">
  <div class="container flow">
    <h1>Create a plan</h1>
    <p>
      Build a subscription plan that best fits your needs. We offer an assortment of the best
      artisan coffees from around the globe delivered fresh to your door.
    </p>
  </div>
</section>

<section class="section section-flow">
  <div class="container">
    <div class="flow-indicator">
      <div class="circle"></div>
      <div class="line"></div>
      <div class="circle"></div>
      <div class="line"></div>
      <div class="circle"></div>
    </div>
    <div class="flow-items">
      <div class="flow-item">
        <div class="flow-item-number">01</div>
        <div class="flow-item-name">Pick your coffee</div>
        <p>
          Select from our evolving range of artisan coffees. Our beans are ethically
          sourced and we pay fair prices for them. There's new coffees in all profiles
          every month for you to try out.
        </p>
      </div>
      <div class="flow-item">
        <div class="flow-item-number">02</div>
        <div class="flow-item-name">Choose the frequency</div>
        <p>
          Customize your order frequency, quantity, even your roast style and grind type.
          Pause, skip or cancel your subscription with no commitment through our online portal.
        </p>
      </div>
      <div class="flow-item">
        <div class="flow-item-number">03</div>
        <div class="flow-item-name">Receive and enjoy!</div>
        <p>
          We ship your package within 48 hours, freshly roasted. Sit back and enjoy award-winning world-class coffees curated to provide a distinct tasting experience.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section-section-order">
  <div class="container">
    <div class="order-navigation">
      <ol>
        <li>Preferences</li>
        <li>Bean type</li>
        <li>Quantity</li>
        <li>Grind option</li>
        <li>Deliveries</li>
      </ol>
    </div>
    <div class="order-options">
      <div class="order-option">
        <div class="order-option-title-wrapper">
          <span class="order-option-title">How do you drink your coffee?</span>
        </div>
        <div class="order-option-items">
          <div class="order-option-item">
            <div class="order-option-item-name">Capsule</div>
            <p>Compatible with Nespresso systems and similar brewers</p>
          </div>
          <div class="order-option-item">
            <div class="order-option-item-name">Filter</div>
            <p>For pour over or drip methods like Aeropress, Chemex, and V60</p>
          </div>
          <div class="order-option-item">
            <div class="order-option-item-name">Espresso</div>
            <p>Dense and finely ground beans for an intense, flavorful experience</p>
          </div>
        </div>
      </div>

      <div class="order-option">
        <div class="order-option-title-wrapper">
          <span class="order-option-title">What type of coffee?</span>
        </div>
        <div class="order-option-items">
          <div class="order-option-item">
            <div class="order-option-item-name">Single origin</div>
            <p>Distinct, high quality coffee from a specific family-owned farm</p>
          </div>
          <div class="order-option-item">
            <div class="order-option-item-name">Decaf</div>
            <p>Just like regular coffee, except the caffeine has been removed</p>
          </div>
          <div class="order-option-item">
            <div class="order-option-item-name">Blended</div>
            <p>Combination of two or three dark roasted beans of organic coffees</p>
          </div>
        </div>
      </div>
    </div>

    <div class="order-option">
      <div class="order-option-title-wrapper">
        <span class="order-option-title">How much would you like?</span>
      </div>
      <div class="order-option-items">
        <div class="order-option-item">
          <div class="order-option-item-name">250g</div>
          <p>Perfect for the solo drinker. Yields about 12 delicious cups.</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name">500g</div>
          <p>Perfect option for a couple. Yields about 40 delectable cups.</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name">1000g</div>
          <p>Perfect for offices and events. Yields about 90 delightful cups.</p>
        </div>
      </div>
    </div>

    <div class="order-option">
      <div class="order-option-title-wrapper">
        <span class="order-option-title">Want us to grind them?</span>
      </div>
      <div class="order-option-items">
        <div class="order-option-item">
          <div class="order-option-item-name">Wholebean</div>
          <p>Best choice if you cherish the full sensory experience</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name">Filter</div>
          <p>For drip or pour-over coffee methods such as V60 or Aeropress</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name">Cafetiére</div>
          <p>Course ground beans specially suited for french press coffee</p>
        </div>
      </div>
    </div>

    <div class="order-option">
      <div class="order-option-title-wrapper">
        <span class="order-option-title">How often should we deliver?</span>
      </div>
      <div class="order-option-items">
        <div class="order-option-item">
          <div class="order-option-item-name">Every week</div>
          <p>$14.00 per shipment. Includes free first-class shipping.</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name">Every 2 weeks</div>
          <p>$17.25 per shipment. Includes free priority shipping.</p>
        </div>
        <div class="order-option-item">
          <div class="order-option-item-name">Every month</div>
          <p>$22.50 per shipment. Includes free priority shipping.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="order-summary-wrapper">
    <div class="order-summary-title">Order Summary</div>
    <p>
      “I drink coffee _____, with a _____ type of bean. _____ ground ala _____, sent to me _____.”
    </p>
  </div>

  <button type="button">Create my plan!</button>
</section>

<div class="modal order-summary-modal">
  <div class="modal-header">
    <div class="title">Order Summary</div>
  </div>
  <div class="modal-body">
    <p>
      “I drink coffee _____, with a _____ type of bean. _____ ground ala _____,
      sent to me _____.”
    </p>
    <p>
      Is this correct? You can proceed to checkout or go back to plan selection if something
      is off. Subscription discount codes can also be redeemed at the checkout.
    </p>
    <div>
      <span>$_____/month</span>
      <button class="button" type="button">Checkout</button>
    </div>
  </div>
</div>
