.section-hero .container{
  background-image: url(/assets/plan/mobile/image-hero-blackcup.jpg);
}

.section-flow{
  background-color: var(--clr-footer-bg);
  color: var(--clr-light-cream);
  border-radius: 10px;
  padding: 5rem 1.5rem;
  text-align: center;
}

.flow-indicator{
  display: none;
}

.flow-items{
  display: flex;
  flex-direction: column;
  gap: 2.875rem;
}

.flow-item-number{
  color: var(--clr-pale-orange);
  font-size: 4.5rem;
  line-height: 1;
}

.flow-item-name{
  font-size: 1.75rem;
  line-height: 1.142;
}

.flow-item p{
  margin-inline: auto;
  max-width: 38ch;
}

.order-navigation{
  display: none;
}

.order-option{
  margin-bottom: 6.875rem;
}

.order-option-title-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.order-option-title{
  color: var(--clr-grey);
  font-size: 1.5rem;
  line-height: 1.5;
  width: 15ch;
  display: inline-block;
}

.order-option-items{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-option-item{
  background-color: #F4F1EB;
  border-radius: 10px;
  padding: 1.5rem;
  cursor: pointer;
}

.order-option-item:hover{
  background-color: var(--clr-pale-orange);
}

.order-option-item.active, .order-option-item.active:hover{
  background-color: var(--clr-dark-cyan);
}

.order-option-item-name{
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.order-summary-wrapper{
  margin-bottom: 7.5rem;
}

.order-summary-body{
  background-color: var(--clr-footer-bg);
  color: #fff;
  margin-bottom: 3.5rem;
  padding: 1.3rem;
  border-radius: 10px;
}

.order-summary-title{
  margin-bottom: 1rem;
  opacity: 0.53;
  letter-spacing: 0px;
  font-size: 1rem;
  line-height: 1.625;
  text-transform: uppercase;
}

.order-summary-body p{
  font-size: 1.5rem;
  line-height: 1.6666;
  letter-spacing: 0;
}

.inserted-part{
  color: var(--clr-dark-cyan);
}

.order-summary-button-wrapper{
  text-align: center;
}

@media(min-width: 48em){
  .section-hero .container{
    background-image: url(/assets/plan/tablet/image-hero-blackcup.jpg);
  }

  .section-flow{
    text-align: left;
  }

  .flow-indicator{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .flow-indicator .circle{
    border: 1px solid var(--clr-dark-cyan);
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }

  .flow-indicator .line{
    width: 14.5rem;
    height: 2px;
    margin-left: -1rem;
    margin-right: -1rem;
    background-color: var(--clr-pale-orange);
  }

  .flow-items{
    flex-direction: row;
    gap: 2rem;
  }

  .flow-item{
    width: 12.5rem;
  }

  .flow-item p{
    margin-inline: inherit;
    max-width: 25ch;
  }

  .order-option-title{
    font-size: 2rem;
    width: auto;
  }

  .arrow-up{
    background-image: url(/assets/plan/desktop/icon-arrow.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 18px;
    height: 12px;
    transform: rotate(180deg);
    cursor: pointer;
  }

  .order-option-items{
    flex-direction: row;
    gap: .625rem;
  }

  .order-option-item{
    padding: 2rem 1.5rem 5.25rem;
    width: 100%;
  }

  .order-option-item-name{
    margin-bottom: 1.5rem;
  }

  .order-option-item p{
    max-width: 20ch;
  }
}

@media(min-width: 84em){
  .section-hero .container{
    background-image: url(/assets/plan/desktop/image-hero-blackcup.jpg);
  }

  .section-flow{
    max-width: 80rem;
    margin-inline: auto;
  }

  .flow-indicator .line{
    width: 24rem;
  }

  .flow-items{
    gap: 5.9375rem;
  }

  .flow-item{
    width: 18rem;
  }

  .flow-item-name{
    max-width: 10ch;
  }

  .flow-item p{
    max-width: inherit;
  }

  .section-section-order .container{
    display: flex;
    gap: 7.8125rem;
    padding-inline: 5.1875rem;
  }

  .order-navigation{
    display: block;
    width: 15.9375rem;
  }

  .order-navigation ol{
    list-style: none;
  }

  .order-navigation li{
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.3333;
    white-space: nowrap;
  }

  .order-navigation li{
    opacity: .4;
    border-bottom: 1px solid var(--clr-grey);
    padding-block: 1.5rem;
    cursor: pointer;
  }

  .order-navigation li:first-child{
    padding-block-start: 0.6875rem;
  }

  .order-navigation li.active{
    opacity: 1;
    cursor: default;
  }

  .order-navigation li span{
    display: inline-block;
    margin-right: 1.5rem;
  }

  .order-option{
    margin-bottom: 5.375rem;
  }

  .order-option-title-wrapper{
    margin-bottom: 3.5rem;
  }

  .order-option-title{
    font-size: 2.5rem;
  }

  .order-option-items{
    gap: 1.4375rem;
  }

  .order-summary-body{
    padding: 2.9375rem 3.625rem;
  }
}
